extends layout

block content
    body
        main.container(role="main")
            .container.theme-showcase
                .page-header
                    .page-header
                        h3 Accepted tasks
                    hr

                    div.main.container
                        div.row
                            div.col-md-12
                                if(accepted_tasks)
                                    each task in accepted_tasks
                                        .card(id='task' + task.id)
                                            .card-header
                                                | Accepted task
                                            .card-body
                                                h5.card-title #{task.name}
                                                p.card-text #{task.description}
                                                - var time = Math.round(task.time * 6 * 2) / 2;
                                                p.card-text Estimated time: [#{time}h]

                                                //button.btn.btn-success(type='button' class="accept" id=task.id) Accept
                                                //|
                                                //|
                                                button.btn.btn-danger(type='button' class="deny" id=task.id) Reject
                                        br



    script.
        window.addEventListener('load', function () {
            function acceptTask(isAccept,elem) {
                var id = elem.id;
                var req_data = {accept_id: id};
                if(!isAccept)req_data = {deny_accepted_id: id}

                $.ajax({
                    url: '/tasks/acceptDeny',
                    method: 'GET',
                    data: req_data,
                }).done(function (res) {
                    $('.card#task' + id).hide(250);
                    var rem_tasks = [];
                    for (const sto of res) {
                        var remain = JSON.parse(JSON.stringify(sto));
                        rem_tasks.push(remain);
                    }
                    if(rem_tasks.length == 0){
                        $('.fa-user-tag').hide(250);
                        $('.fa-user').show(250);

                    }
                });
            }


            $('button.accept').click(function () {
                acceptTask(true,this);
            });

            $('button.deny').click(function () {
                acceptTask(false,this);
            });
        });